#image {
  width: 100%;
  float: center;
  margin: auto;
  margin-top: -2%;
}

#grass {
  position: absolute;
  width: 100%;
  z-index: -1;
  margin-top: 8.5%;
  right: 32%;
}

#top {
  margin-top: -1%;
  margin-bottom: 0.5%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  top: 5%;
  margin-right: 4%;
  float: right;
}

#heading {
  margin-top: -4%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 1.5%;
  margin-right: 0.5%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 102, 0.65);
  color: rgba(0, 0, 102, 0.65);
  position: absolute;
  right: 0.75%;
  top: 1.5%;
  font-size: 10.5px;
  font-family: verdana;
}

.photo {
  height: 48%;
  width: 95%;
  display: block;
  margin: auto;
  margin-bottom: 4%;
}

#canvas {
  border-radius: 15px;
  width: 100%;
}

#videos {
  border-radius: 15px;
  width: 100%;
}

#fill {
  height: 98%;
}

#response-box {
  border-radius: 15px;
  padding: 10px;
  padding-top: 25px;
  background-color: rgba(80, 139, 215, 0.2);
  /*background-color: rgba(255, 0, 110, 0.1);*/
  margin-bottom: 1.25%;
}

#container {
  height: 470px;
  margin-top: 0.5%;
}

#heading {
  color: #6b6a6a;
}

#conversation {
  width: 73.5%;
  float: right;
  padding: 6px 12px;
}

#response {
  width: 110%;
  height: 32px;
}

#bull {
  position: absolute;
  width: 22%;
  z-index: 10;
  right: 25px;
  top: -27%;
}

#snap,
#send,
#conversation {
  background-color: rgba(0, 0, 102, 0.65);
  border: none;
}

#buttons {
  width: 100%;
  padding-left: -15px;
  margin: auto;
}

#snap {
  width: 49%;
}

#send {
  width: 49%;
}

#bulldog {
  display: none;
}

.containerChat {
  border: 2px solid #f7f4f4;
  background-color: #f7f4f4;
  border-radius: 5px;
  padding: 8px;
  margin: 10px 10px;
  word-wrap: break-word;
}

.darkerChat {
  border-color: #508bd7;
  background-color: #508bd7;
}

.textRight {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.textLeft {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.containerChat::after {
  content: '';
  clear: both;
  display: table;
}

.containerChat img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
  margin-top: 0.5%;
}

.containerChat img.rightChat {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .photo {
    height: 75%;
    margin: unset;
    display: inline;
  }

  #canvas {
    border-radius: 15px;
    height: 100%;
    width: 49.25%;
    margin: unset;
    float: right;
  }

  #videos {
    border-radius: 15px;
    width: 48.5%;
    margin: unset;
    float: left;
  }

  #bull {
    display: none;
  }

  #container {
    height: 265px;
  }

  #buttons {
    margin-bottom: 1%;
    margin-top: 1%;
    display: inline-block;
  }

  #snap {
    width: 48.5%;
    margin: unset;
    float: left;
  }

  #send {
    width: 49.25%;
    margin: unset;
    float: right;
  }

  #container {
    width: 100%;
    font-size: 20%;
  }
}
